.verification-success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1; /* Set your background color */
  }
  
  .verification-success-content {
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff; /* Set your background color */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .verification-success-heading {
    color: #007bff; /* Set your blue color */
  }
  
  .verification-success-text {
    color: #000000; /* Set your black color */
    margin-top: 20px;
  }
  
  .verification-success-btn {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #007bff; /* Set your blue color */
    color: #ffffff; /* Set your white color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .verification-success-btn:hover {
    background-color: #0056b3; /* Darker shade of blue on hover */
  }
  